@import url('https://fonts.googleapis.com/css?family=Lato|Cinzel+Decorative:400,700');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

/* CONTENT AREAS */

body {
    width: 85%;
    margin: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

main {
    margin-top: 5em;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.project {
    display:flex;
    justify-content: space-between;
}

/* TYPOGRAPHY */

p, li, h1, h2, h3 {
    font-family: 'Comfortaa';
}

h1, h2, h3 {
    font-weight: normal;
}

h1 {
    margin-bottom: 0;
    margin-top: 2em;
}

h2 {
    margin-top: 0.5em;
}

li a {
    text-decoration: none;
    font-size: 1.5em;
    margin-right: 1em;
    margin-bottom: 1em;
}