@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap');

/* CONTENT AREAS */

body {
    width: 80%;
    margin: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

main {
    margin-top: 7em;
}

footer {
    padding-top: 2.5em;
    padding-bottom: 2.5em;
    font-size: 10pt;
    border-top: 1px solid #F5F5F5;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.project {
    display:flex;
    justify-content: space-between;
    margin-top: 2em;
    margin-bottom: 5em;
}

img {
    max-width: 100%;
    height: auto;
  }

.case-study {
    display: flex;
    flex-direction: row;
}

.quick-ref ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.quick-ref {
    position: sticky;
    width: 25%;
}

/* TYPOGRAPHY */

p, li, h1, h2, h3 {
    font-family: 'Nunito';
}

h1, h2, a {
    color: #383838;
}

h1, h2 {
    font-weight: normal;
}

h1 {
    font-size: 1.5em;
    margin-bottom: 0;
    margin-top: 4em;
}

h2 {
    font-size: 1.25em;
    margin-top: 0.5em;
}

h3 {
    font-weight: 600;
}

.desc {
    width: 66%;
}

p {
    color: #707070;
}

a {
    text-decoration: none;
}

li a {
    font-size: 1.25em;
    margin-right: 1em;
    margin-bottom: 1em;
}

h3, .project a {
    color: #00A1AF;
}